<!doctype html>
<html ng-app="app">

	<head>
		<title>directive</title>
		<style type="text/css">

		</style>
		<script src="/learn-angular/app/bower_components/angular/angular.js"></script>
	</head>

	<body>

		<div ng-controller="MyCtrl">
			ctrl:
			<input type="text" ng-model="myFlavor" /> <br />
			director:
			<drink flavor="myFlavor"></drink>
		</div>

		<script>
			var app = angular.module('app', []);
			
			app.controller('MyCtrl',['$scope', function($scope){
				
			}]);
			
			app.directive('drink', function() {
				return {
					scope:{
						flavor : '='
					},
					restrict: 'AE', 
					template: '<div><input type="text" ng-model="flavor"/></div>'
				};
			});
		</script>
	</body>

</html>