<!doctype html>
<html ng-app="initExample">

	<head>
		<title>directive</title>
		<style type="text/css">
		</style>
		<script src="../bower_components/angular/angular.js"></script>
		<script>
			angular.module('initExample', [])
				.controller('ExampleController', ['$scope',
					function($scope) {
						$scope.list = [
							['a', 'b'],
							['c', 'd']
						];
					}
				]);
		</script>
	</head>

	<body>

		<div ng-controller="ExampleController">
			<div ng-repeat="innerList in list" ng-init="outerIndex = $index">
				<div ng-repeat="value in innerList" ng-init="innerIndex = $index">
					<span class="example-init">list[ {{outerIndex}} ][ {{innerIndex}} ] = {{value}};</span>
				</div>
			</div>
		</div>

	</body>

</html>